* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

html {
	background-color: #f2f2f2;
	color: #333;
	font-family: "PT Sans", sans-serif;
}

body {
	text-align: center;
}

.diagram {
	display: inline-block;
	margin: 2em;
}